<nav class="nav az-navbar fixed-top">
    <!-- <a class="navbar-brand" routerLink="/" > -->
      <div class="p-3 text-light">
        Logo
      </div> 
    <!-- </a> -->
    <ul class="nav right-section">
        <li class="nav-item">
            <!-- <az-messages></az-messages> -->
            <div class="mr-5">
                <img height="40" width="60" (click)="changeLang('no')" src="assets/img/app/flag-norway.png" alt="">
                <img height="40" width="60" class="ml-2" (click)="changeLang('en')" src="assets/img/app/flag-uk.png" alt="">
            </div>
        </li>
        <li class="nav-item">
            <div class="dropdown float-right user-menu">
                <a class="dropdown-toggle user-link" data-toggle="dropdown" href="#" role="button"
                    aria-expanded="false">
                    <img src="assets/img/users/user.jpg" alt="user-img" class="img-circle user-img">
                    <span class="d-lg-inline d-none">Emilio Verdines</span>
                </a>

                <ul class="dropdown-menu">
                    <li class="user-info">
                        <img src="assets/img/users/user.jpg" alt="user-img" class="img-circle user-img">
                        <p>
                            Emilio Verdines - Web Developer
                            <small>Member since Dec. 2015</small>
                        </p>
                    </li>
                    <a class="dropdown-item" routerLink="/pages/profile/projects"><i class="fa fa-user"></i>Profile</a>
                    <a class="dropdown-item" routerLink="/"><i class="fa fa-cog"></i>Settings</a>
                    <a class="dropdown-item" routerLink="/"><i class="fa fa-lock"></i>Lock screen</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="fnLogout()"><i class="fa fa-power-off"></i>Log
                        out</a>
                </ul>
            </div>
        </li>
    </ul>

</nav>