<div class="main-container">
    <az-header></az-header>
    <div class="login-container d-flex flex-row-reverse">
        <div class="col-xl-4 pr-5 mr-5">
            <div class="card">
                <div class="card-body text-center">
                    <h2 class="card-title">{{'resetPassword.title' | translate}}</h2>
                    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" ngxsForm="form.resetPassword"
                        class=" text-left">
                        <div class="form-group">
                            <input [formControl]="email" class="form-control checking-field"
                                placeholder="{{'resetPassword.userName' | translate}}" type="text" readonly>
                            <!-- <span class="help-block text-danger"
                                *ngIf="form.get('email').touched && form.get('email').hasError('required')">
                                {{'resetPassword.userNameRequiredMsg' | translate}}</span>
                            <span class="text-danger" *ngIf="form.get('email').hasError('invalidEmail')">
                                {{'resetPassword.userNameInvalidMsg' | translate}}</span> -->
                        </div>
                        <div class="form-group">
                            <input [formControl]="password" class="form-control checking-field"
                                placeholder="{{'resetPassword.passwordLabel' | translate}}" type="password">
                            <span class="help-block text-danger"
                                *ngIf="form.get('password').touched && form.get('password').hasError('required')">
                                {{'resetPassword.passwordRequiredMsg' | translate}}</span>
                            <span class="help-block text-danger"
                                *ngIf="form.get('password').touched && form.get('password').hasError('minlength')">
                                {{'resetPassword.passwordInvalidMsg' | translate}}</span>
                        </div>
                        <div class="form-group">
                            <input formControlName="confirmPassword" class="form-control checking-field"
                                placeholder="{{'resetPassword.confirm_passLabel' | translate}}" type="password">
                            <span class="help-block" *ngIf="form.get('confirmPassword').touched">
                                <span class="text-danger" *ngIf="form.get('confirmPassword').hasError('required')">
                                    {{'resetPassword.confirm_passRequiredMsg' | translate}}</span>
                                <span class="text-danger"
                                    *ngIf="form.get('confirmPassword').hasError('mismatchedPasswords')">
                                    {{'resetPassword.conffirm_passInvalidMsg' | translate}}</span>
                            </span>
                        </div>

                        <div class="form-group">
                            <button [disabled]="!form.valid" class="btn btn-main btn-block rounded" type="submit">
                                {{'resetPassword.submitBtn' | translate}}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="pr-5 mr-5 ">
            <div class="bg-transparent text-light text-wrap mr-5">
                <img src="assets/img/app/image3.png" width="350" alt="">
                <div style="background-color:rgba(0,0,0,0.6);width: 350px;" class="p-3">
                    {{'resetPassword.label' | translate}}
                </div>
            </div>
        </div>
    </div>
</div>