@import "../../theme/styles/variables";
.main-container {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-image: url("../../../assets/img/app/bg-image.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.login-container {
    margin-top: 15vh;
    .card {
        padding: 15px;
        .btn-link {
            padding: 0;
            &.forgot {
                font-size: 14px;
            }
            &:hover {
                color: $main-color;
            }
        }
    }
}
