<div class="container">
    <div class="d-flex justify-content-center mx-auto">
        <form>
            <div class="form-group">
                <button  class="btn btn-primary btn-lg rounded btn-block text-uppercase" type="button">
                    I Will seek access to myself
                </button>
            </div>
            <div class="text-center">
                <h3>-----OR-----</h3>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary btn-lg btn-block rounded text-uppercase">
                    I Will seek access behalf of others
                </button>
            </div>
        </form>
    </div>
</div>