
<div class="main-container">
    <az-header></az-header>
    <div class="login-container">
        <div class="col-xl-4 col-md-6 col-10 offset-7">
            <div class="card">
                <div class="card-body text-center">
                    <h2 class="card-title text-capitalize">{{'forgot.forgotTitle' | translate}}</h2>
                    <form formGroup="form" (ngSubmit)="onEmailSubmit(form.value)"
                        ngxsForm="form.forgotPassword" class=" text-left">
                        <div class="form-group">
                            <input formControlName="email" class="form-control checking-field"
                                placeholder="{{'forgot.userName' | translate}}" type="text">
                            <span class="help-block text-danger"
                                *ngIf="form.get('email').touched && form.get('email').hasError('required')">
                                {{'forgot.userNameRequiredMsg' | translate}}</span>
                            <span class="text-danger" *ngIf="form.get('email').hasError('invalidEmail')">
                                {{'forgot.userNameInvalidMsg' | translate}}</span>
                        </div>
                        <div class="form-group d-flex justify-content-end">
                            <a class="btn btn-link forgot transition pull-right" (click)="backtoLogin()"
                                href="javascript:void(0);">
                                {{'forgot.backtosigninLabel' | translate}}</a>
                        </div>
                        <div class="form-group">
                            <button [disabled]="!form.valid" class="btn btn-main btn-block rounded" type="submit">
                                {{'forgot.submitBtn' | translate}}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>