@import "../../theme/styles/variables";
.main-container {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-image: url("../../../assets/img/app/bg-image.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.register-container {
    .card {
        padding: 15px;
        .btn-link {
            padding: 0;
            &:hover {
                color: $main-color;
            }
        }
        .terms {
            font-size: 13px;
        }
    }
}
.logo_image {
    margin-top: 15vh;
}
