<div class="main-container">
    <az-header></az-header>
    <div class="register-container">
        <div class="col-xl-4 col-md-6 col-10 offset-7 pb-2">
            <div class="card">
                <div class="card-body text-center">
                    <h2 class="card-title">{{'Signup.title' | translate}}</h2>
                    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" ngxsForm="form.signup" class="text-left">
                        <div class="form-group">
                            <input formControlName="userName" class="form-control checking-field"
                                placeholder="{{'Signup.userNameLabel' | translate}}" type="text">
                            <span class="help-block" *ngIf="form.get('userName').touched">
                                <span class="text-danger" *ngIf="form.get('userName').hasError('required')">
                                    {{'Signup.userNameRequiredMsg' | translate}}</span>
                                <span class="text-danger" *ngIf="form.get('userName').hasError('invalidEmail')">
                                    {{'Signup.userNameInvalidMsg' | translate}}</span>
                            </span>
                        </div>

                        <div class="form-group">
                            <input formControlName="password" class="form-control checking-field"
                                placeholder="{{'Signup.passwordLabel' | translate}}" type="password" minlength="6">
                            <span class="help-block" *ngIf="form.get('password').touched">
                                <span class="text-danger" *ngIf="form.get('password').hasError('required')">
                                    {{'Signup.passwordRequiredMsg' | translate}}</span>
                                <span class="text-danger" *ngIf="form.get('password').hasError('minlength')">
                                    {{'Signup.passwordInvalidMsg' | translate}}</span>
                            </span>
                        </div>

                        <div class="form-group">
                            <input formControlName="confirmPassword" class="form-control checking-field"
                                placeholder="{{'Signup.confirm_passLabel' | translate}}" type="password">
                            <span class="help-block" *ngIf="form.get('confirmPassword').touched">
                                <span class="text-danger" *ngIf="form.get('confirmPassword').hasError('required')">
                                    {{'Signup.confirm_passRequiredMsg' | translate}}</span>
                                <span class="text-danger"
                                    *ngIf="form.get('confirmPassword').hasError('mismatchedPasswords')">
                                    {{'Signup.conffirm_passInvalidMsg' | translate}}</span>
                            </span>
                        </div>

                        <div class="form-group">
                            <input formControlName="fullName" class="form-control checking-field"
                                placeholder="{{'Signup.fullName' | translate}}" type="text">
                            <span class="help-block" *ngIf="form.get('fullName').touched">
                                <span class="text-danger" *ngIf="form.get('fullName').hasError('required')">
                                    {{'Signup.fullNameRequiredMsg' | translate}}</span>
                            </span>
                        </div>

                        <div class="form-group">
                            <input formControlName="surName" class="form-control checking-field"
                                placeholder="{{'Signup.surName' | translate}}" type="text">
                            <span class="help-block" *ngIf="form.get('surName').touched">
                                <span class="text-danger" *ngIf="form.get('surName').hasError('required')">
                                    {{'Signup.surNameRequiredMsg' | translate}}</span>
                            </span>
                        </div>

                        <div class="form-group">
                            <input formControlName="DOB" class="form-control checking-field"
                                placeholder="{{'Signup.DOB' | translate}}" type="date">
                            <span class="help-block" *ngIf="form.get('DOB').touched">
                                <span class="text-danger" *ngIf="form.get('DOB').hasError('required')">
                                    {{'Signup.DOBRequiredMsg' | translate}}</span>
                            </span>
                        </div>

                        <div class="form-group">
                            <select class="form-control" id="units" formControlName="sex">
                                <option class="optionList" *ngFor="let item of sex" [value]="item.value">
                                    {{ item.name }}
                                </option>
                            </select>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">+ 47</span>
                                </div>
                                <input formControlName="mobileNo" class="form-control checking-field"
                                    (keypress)="numberOnly($event)" maxlength="10"
                                    placeholder="{{'Signup.mobileNo' | translate}}" type="tel">
                            </div>
                            <span class="help-block" *ngIf="form.get('mobileNo').touched">
                                <span class="text-danger" *ngIf="form.get('mobileNo').hasError('required')">
                                    {{'Signup.mobileNoRequiredMsg' | translate}}</span>
                                <span class="text-danger"
                                    *ngIf="form.get('mobileNo').hasError('minlength') || form.get('mobileNo').hasError('maxlength')">
                                    {{'Signup.mobileNoInvalidMsg' | translate}}</span>

                            </span>
                        </div>

                        <div class="form-group">
                            <button [disabled]="!form.valid" class="btn btn-main btn-block rounded" type="submit">
                                {{'Signup.signupBtn' | translate}}</button>
                        </div>
                        <div class="form-group">
                            <button type="button" routerLink="/login" class="btn btn-main btn-block rounded">
                                {{'Signup.signinBtn' | translate}}</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>